@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('fonts/Solaire Rough.otf');

:root{
    --black: #111;
    --green: #00ff55;
    --blue: #0084ff;
    --red: #ff0035;
    --white: #e3e3e3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    transition: .5s ease;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: var(--black);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom,#5020a8, #dad612);
    border: 2px solid var(--black);
    border-radius: 8px;
}

html{
    overflow-x: hidden;
}

body{
    background: #222;
}

.header{
    height: 70px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(2, 2, 2, 0.8);
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    flex-direction: row;
}
.header .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header .logo img{
    width: 80px;
}
.header .logo h1{
    color: var(--white);
}
.header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 30%;
}
.header .nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style: none;
    width: 80%;
}
.header .nav ul a{
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    transition: .1s ease;
}
.header .nav ul a:hover{
    color: var(--blue);
}
.main{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 50px 20px;
    background: #111;
}
.main .title{
    font-size: 40px;
    background: linear-gradient(-45deg, #ff0035,#5020a8, #1a72e6);
    background-clip: text;
    font-weight: 700;
    color: transparent;
    z-index: 2;
    text-shadow: 2px 2px 2px rgba(2, 2, 2, 0.226);
    margin-bottom: 30px;
}
.main .grid{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: start;
    padding: 12px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 18px 20px;
}
.main .grid .card{
    width: 240px;
    cursor: pointer;
    background: rgba(31, 30, 30, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    padding: 20px 25px;
}
.main .grid .card img{
    width: 100%;
}
.main .grid .card h5.eng{
    text-align: center;
    margin: 15px 0;
    color: #e3e3e3;
    font-size: 40px;
    font-family: 'Solaire Rough';
    font-weight: 100;
}
.main .grid .card h5.lst{
    text-align: center;
    margin: 15px 0;
    color: #e3e3e3;
    font-size: 38px;
    font-family: 'Poppins';
    font-weight: 500;
}
.main .grid .card .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .grid .card .links a{
    color: #e3e3e3;
    background: linear-gradient(-45deg, #5020a8, #129bda);
    padding: 8px 10px;
    border-radius: 16px;
}
.main .grid .card .links a:hover{
    transform: scale(1.1);
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
}

.footer .copy p{
    color: #e3e3e3;
    font-size: 20px;
    font-weight: 500;
}

.footer .links{
    color: #e3e3e3;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .links a{
    color: #e3e3e3;
    font-size: 17px;
    font-weight: 500;
}

.footer .links a:hover{
    color: #0084ff;
}

@media (max-width: 950px) {
    .main .grid{
        justify-content: center;
    }
    .footer{
        justify-content: center;
    }
    .footer .links{
        display: none;
    }
    .footer .copy p{
        text-align: center;
    }
}
@media (max-width: 900px) {
    .header .nav ul a:nth-child(1), .header .nav ul a:nth-child(3){
        display: none;
    }
    .header .nav ul{
        justify-content: right;
    }
}
@media (max-width: 600px) {
    .header .nav{
        display: none;
    }
    .header{
        justify-content: center;
    }
    .header .nav ul{
        justify-content: right;
    }
    .header .logo h1{
        font-size: 30px;
    }
}
@media (max-width: 450px) {
    
    .header .logo h1{
        font-size: 20px;
    }
    .footer .copy p{
        font-size: 15px;
    }
}
